<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleverTapToken</key>
	<string>6b4-2c0</string>
	<key>CleverTapAccountID</key>
	<string>W9R-486-4W5Z</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App needs your location to provide enhanced features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs your location to provide enhanced features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs your location to provide enhanced features.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
